body {
    font-family: 'EB Garamond', serif;
    margin: 0px;
}

h1 {
    color: rgb(13, 230, 219);
}

.devw {
    color: rgb(255, 115, 0);
}

section {
    display: flex;
}

.halfwidth {
    width: 50%;
    padding: 4%;
}

.halfwidth img {
    width: 80%
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 11px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.dreambig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;
}