body {
    font-family: 'EB Garamond', serif;
    margin: 0px;
}

h1 {
    color: rgb(13, 230, 219);
}

.devw {
    color: rgb(255, 115, 0);
}

.flexible-container {
    display: flex;
    margin-bottom: 40px;
}

.halfwidth {
    width: 50%;
    padding: 4%;
}

.halfwidth img {
    width: 80%
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 11px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.dreambig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;
}

.box-shadow {
    box-shadow: 10px 10px 40px rgb(177, 167, 187);
    margin: 15px;
    padding: 5px 10px;
    border-radius: 10px;
}

.exp-sec {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px;
}

#wex {
    border-left: 7px solid;
    border-image: repeating-linear-gradient(30deg, #26d2c0, #f3504bdf) 60;
    border-image-slice: 1;
}

#wex2 {
    border-left: 7px solid;
    border-image: repeating-linear-gradient(30deg, #f3504bdf, #26d2c0) 60;
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: black;
}